@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@mixin flex-body($direction, $jcc: flex-start, $aic: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jcc;
    align-items: $aic;
    flex-wrap: $wrap;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.flex-row{
    @include flex-body(row, flex-start, flex-start);
    gap: 10px;
    flex-wrap: wrap;
}

.flex-col{
    @include flex-body(column, flex-start, flex-start);
    gap: 10px;
    flex-wrap: wrap;
}

body{
    height: 100vh;
}

.container:before {
    content: '';
    position: fixed;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background:  #4481eb;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s ease-out;
  }
.container{
    @include flex-body(row);
    height: 100%;
    overflow:hidden;
    .panel-left{
        @include flex-body(column, space-between);
        background-color: rgba(255, 255, 255, 1);
        height: 100%;
        width: 60px;
        transition: 0.3s ease-out;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        z-index: 1;
        .panel-left-header{
            margin: 10px;
            @include flex-body(row, center, center);
            gap: 10px;
            transition: 0.3s;
            a img{
                width: 50px;
                height: 50px;
            }
            #close-left-panel{
                @include flex-body(row, center, center);
                margin: 0 20px;
                transition: 0.3s;
                height: 54px;
                i{
                    transition: 0.3s;
                    transform: rotate(0deg);
                }
                i:hover{
                    transform: rotate(180deg);
                }
            }
            #close-left-panel:hover,
            #close-left-panel:focus{
                color: rgba(0, 0, 0, .5);
            }
            #close-left-panel:active{
                color:  rgba(0, 0, 0, .2);
            }
            #title, 
            #logo{
                display: none;
                white-space: nowrap;
            }
        }
        button p{
            display: none;
            white-space: nowrap;
        }
        button{
            @include flex-body(row, center, center);
            background: transparent;
            width: 100%;
            gap: 10px;
            border: none;
            outline: none;
            padding: 10px;
            transition: 0.3s;
            font-size: medium;
        }
        button:hover,
        button:focus{
            background: #EAECEE ;
        }
        button:active{
            background: #D5D8DC;
        }

        .panel-left-body{
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
            padding: 20px 0;
        }
        .panel-left-footer{
            margin-bottom: 30px;
        }
    }
    .panel-right{
        margin-left: 60px;
        width: 100%;
        padding: 10px;
        @include flex-body(column);
        .panel-right-header{
            @media (max-width: 680px) {
                @include flex-body(row, center, center, wrap);
            }
            @include flex-body(row, space-between, center, wrap);
            gap: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            transition: 0.3s;
            padding: 10px 0;
            h1{
                @include flex-body(row, center, center);
                white-space: nowrap;
                gap: 20px;
                background: #4481eb;
                padding: 10px 20px;
                border-radius: 10px;
                color: white;
            }
            .my-logo{
                text-decoration: none;
                @include flex-body(row, center, center);
                img{
                    width: 40px;
                    height: 40px;
                    border: 3px solid white;
                    border-radius: 100px;
                    transition: 0.5s;
                }
            }
            .search-bar{
                @include flex-body(row, center, center);
                gap: 10px;
                border: none;
                outline: none;
                padding: 10px 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                border-radius: 100px;
                background: white;
                input[type="search"]{
                    background: transparent;
                    outline: none;
                    border: none;
                }
                label i{
                    transition: 0.3s;
                }
                label i:hover{
                    transform: rotate(360deg);
                }
            }
        }
        .panel-right-body{
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            .panel-right-body-content{
                @include flex-body(column, center);
                flex-wrap: wrap;
                gap: 10px;
                padding: 10px;
                min-width: none;
                .block{
                    @include flex-body(column, center);
                    gap: 15px;
                    flex-wrap: wrap;

                    .block-title{
                        @include flex-body(row, space-between, center);
                        background: rgba(255, 255, 255, 1);
                        padding: 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
                        border-radius: 10px;
                        flex-wrap: nowrap;

                        h2{
                            @include flex-body(row, center, center, nowrap);
                            gap: 10px;

                            i{
                                font-size: medium;
                                padding: 10px;
                                color: white;
                                background: #4481eb;
                                border-radius: 100px;
                                box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
                            }
                        }

                        .block-title-btn{
                            width: 30px;
                            height: 30px;
                            border-radius: 100px;
                            border: none;
                            outline: none;
                            background: transparent;
                            transition: 0.3s ease-out;
                        }
                        
                        .block-title-btn:hover{
                            background: rgba(0, 0, 0, .1);
                        }
                        .block-title-btn:active{
                            background: rgba(0, 0, 0, .3);
                        }
                    }

                    .block-body{
                        @include flex-body(row);
                        flex-wrap: wrap;
                        gap: 15px;

                        .element{
                            @include flex-body(column);
                            flex-wrap: wrap;
                            flex-grow: 1;
                            gap: 10px;
                            background: white;
                            padding: 20px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
                            border-radius: 10px;
                            transition: 0.3s;
    
                            .element-header{
                                transition: 0.3s
                            }
    
                            .element-body{
                                @include flex-body(row, space-between);
                                flex-wrap: wrap;
                                gap: 10px;
                                transition: 0.3s
                            }
                        }
                    }
                }
                

                .employee-list{
                    .table{
                        @include flex-body(column);
                        width: 100%;

                        input[type="checkbox"]:hover{
                            cursor: pointer;
                        }
                        .table-head{
                            @include flex-body(row, space-around, center);
                            padding: 10px 0;
                            border-bottom: 1px solid rgba(0, 0, 0, .3);
                            span{
                                @include flex-body(row);
                                gap: 10px;
                            }
                            button{
                                background-color: #4481eb;
                                padding: 10px 20px;
                                border-radius: 10px;
                                color: white;
                                text-decoration: none;
                                border: none;
                                outline: none;
                            }
                            a:hover,
                            a:focus{
                                background-color: #6c9aeb;
                            }
                            a:active{
                                background-color: #3a72d3;
                            }
                        }
                        .table-body{
                            padding: 20px;
                            @include flex-body(row);
                            flex-wrap: wrap;
                            row-gap: 10px;
                            column-gap: 50px;
                            .emp{
                                @include flex-body(row, center, center);
                                justify-content: flex-start;
                                gap: 15px;
                                
                                a:hover,
                                a:focus{
                                    background: rgba(0, 0, 0, .1);
                                }
                                a:active{
                                    background: rgba(0, 0, 0, .2);  
                                }

                                a{
                                    @include flex-body(row);
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    gap: 10px;
                                    background-color: rgba(0, 0, 0, .05);
                                    padding: 10px 15px;
                                    border-radius: 10px;
                                    color: black;
                                    text-decoration: none;
                                    transition: .3s;
                                    .name{
                                        p{
                                            font-weight: bold;
                                        }
                                        .dept{
                                            font-size: small;
                                            cursor: pointer;
                                        }
                                    }
                                }

                                a:before{
                                    content: attr(fl);
                                    display: inline-block;
                                    height: 36px;
                                    width: 36px;
                                    min-width: 36px;
                                    font-size: x-large;
                                    text-align: center;
                                    color: white;
                                    border-radius: 100px;
                                    background-color: var(--col);
                                }
                            }
                        }
                    }

                    .btn-remove-emp,
                    .btn-add-emp{
                        padding: 10px 30px;
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        transition: 0.3s;
                    }

                    .btn-remove-emp{
                        background: #EC7063 ;
                    }
                    .btn-remove-emp:hover,
                    .btn-remove-emp:focus
                    {
                        background: #F1948A ;
                    }

                    .btn-remove-emp:active{
                        background: #F5B7B1 ;
                    }

                    .btn-add-emp{
                        background: #58D68D;
                    }

                    .btn-add-emp:hover,
                    .btn-add-emp:focus{
                        background: #82E0AA ;
                    }

                    .btn-add-emp:active{
                        background: #2ECC71 ; 
                    }
                }

                .dash-board {
                    input[type="number"],
                    input[type="text"]{
                        background: transparent;
                        outline: none;
                        border: 0.2px solid rgba(0, 0, 0, .1);
                        padding: 5px 10px;
                        margin-bottom: 20px;
                    }

                    #total-earnings:before{
                        content: "P";
                        background-color: red;
                    }
                }

                #account-info {
                    form{
                        max-width: 500px;
                        margin: 0 auto;
                        input[type="text"],
                        input[type="password"]{
                            background: transparent;
                            outline: none;
                            border: 0.2px solid rgba(0, 0, 0, .1);
                            padding: 5px 10px;
                            margin-bottom: 20px;
                        }
                        label:after{
                            content: "*";
                            color: red;
                            margin: 2px;
                        }
                        button{
                            padding: 10px 30px;
                            background: #58D68D;
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            color: white;
                            transition: 0.3s;
                        }
                        button:hover,
                        button:focus{
                            background: #82E0AA ;
                        }
                        button:active{
                            background: #2ECC71 ; 
                        }
                    }
                }
            }
        }
        .panel-right-footer{
            border-top: 1px solid rgba(0, 0, 0, .2);
            @include flex-body(row, space-between);
            p{
                font-size: x-small;
                color: black;
                padding: 10px;
            }
        }
    }
}

#modal-add-emp {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition: 1s;

    .modal-content {
        @include flex-body(column);
        gap: 10px;
        width: 30%;
        background-color: #fefefe;
        margin: 50px auto; 
        padding: 30px;
        
        .modal-header{
            @include flex-body(row, space-between);
        }
        .modal-body{
            @include flex-body(column, flex-start, flex-start);
            gap: 10px;

            input[type="text"], 
            input[type="number"],
            input[type="date"],
            select{
                background: transparent;
                outline: none;
                border: 0.2px solid rgba(0, 0, 0, .1);
                padding: 5px 10px;
                margin-bottom: 20px;
            }
        }
        .modal-footer{
            @include flex-body(row-reverse);
            gap: 10px;

            .btn{
                padding: 10px 30px;
                outline: none;
                border: none;
                border-radius: 10px;
                color: white;
                transition: 0.3s;
            }

            .btn.close-modal{
                background: #EC7063 ;
            }
            .btn.close-modal:hover,
            .btn.close-modal:focus
            {
                background: #F1948A ;
            }

            .btn.close-modal:active{
                background: #F5B7B1 ;
            }

            .btn.add{
                background: #58D68D;
            }

            .btn.add:hover,
            .btn.add:focus{
                background: #82E0AA ;
            }

            .btn.add:active{
                background: #2ECC71 ; 
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;  
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4481eb ; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #336dd3; 
}