*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  width: 45vw;
  height: 60vh;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.modal-img {
  height: 300px;
}
h2.modal-h2 {
  color: #2f2e41;
  font-size: 2rem;
}
h2.modal-h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 0;
}
.modal-close {
  color: #ccc;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2.5rem;
  display: inline-block;
  line-height: 1;
  transition: all 0.2s;
  border: none;
  
}
.modal-close:hover {
  color:rgb(241, 12, 12);
  cursor: pointer;
}

