*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --blue1: rgb(52, 152, 219);
    --blue2: rgb(93, 173, 226);
    --blue3: rgb(46, 134, 193);

    --l-blue1: rgb(133, 193, 233);

    --white1: rgb(211, 211, 211);
    --white2: rgb(233, 233, 233);
    --white2: rgb(200, 200, 200);

    --yellow1: rgb(244, 208, 63 );
    --yellow2: rgb(247, 220, 111);
    --yellow3: rgb(241, 196, 15 );

    --green1: rgb(82, 190, 128 );
    --green2: rgb(125, 206, 160 );
    --green3: rgb(39, 174, 96);

    --red1: rgb(231, 76, 60 );
    --red2: rgb(236, 112, 99 );
    --red3: rgb(203, 67, 53 );

    --line: rgb(150, 150, 150)
}

body{
    /* overflow-x: hidden; */
    width: 100%;
}

.container{
    width: 100%;
}

.container .header{
    position: fixed;
    background: linear-gradient(90deg, var(--blue3), var(--blue2));
    height: 80px;
    margin: 0px;
    top: 0;
    width: 100%;
}

.container .body{
    background-color: rgb(234, 236, 238 );
    margin-top: 80px;
    padding: 1rem 2rem;
    overflow-y: auto;
}

.container .footer{
    background: linear-gradient(90deg, var(--blue3), var(--blue2));
    color: white;
    padding: 10px;
    font-size: x-small;
    text-align: center;
}

.content{
    background-color: white;
    border-radius: 5px; 
    padding: 10px 20px;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.4);
}

.table{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line);
    padding: 5px 0px;
}

.row.title{
    border: none;
    text-align: right;
    display: flex;
    justify-content: space-around;
}

.row.footer{
    border: none;
    background: transparent;
}

.search{
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 0;
}

.search input{
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    transition: 0.2s;
}

.search .btn-search-go{
    padding: 15px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 231, 233 );
}

.search .btn-search-go:focus, .search .btn-search-go:hover{
    background-color: rgb(215, 219, 221 );
}

.search .btn-search-go:active{
    background-color: rgb(202, 207, 210 );
}

.tb-name{
    font-weight: bold;
}

.row.head{
    font-weight: bold;
    padding: 20px 0px;
}

.col{
    /* margin: 0px 20px; */
    text-align: center;
}

.w-100P{ width: 100%;}
.w-90P{ width: 90%;}
.w-80P{ width: 80%;}
.w-70P{ width: 70%;}
.w-60P{ width: 60%;}
.w-50P{ width: 50%;}
.w-40P{ width: 40%;}
.w-30P{ width: 30%;}
.w-20P{ width: 20%;}
.w-10P{ width: 10%;}
.w-5P{ width: 5%;}


.content{
    overflow-y: auto;
}

.logo{
    position: relative;
    top: 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid var(--blue1);
    z-index: 2;
}

.logo img{
    width: 100px;
    height: auto;
    border-radius: 100px;
}

.header .navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 10px;
}

.navigator .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
}

.navigator .selector .nav{
    background-color: transparent;
    color: white;
}

.navigator .selector .nav:focus, .navigator .selector .nav:hover{
    background-color: rgba(255, 255, 255, .1);
}

.navigator .selector .nav:active, .navigator .selector .nav:active{
    background-color: rgba(255, 255, 255, .5);
}





.p-content{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

.p-row{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.p-col{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.4);
}

.g-title{
    font-weight: bold;
}

.g-title, .g-content, .g-footer{
    margin: 10px;
}

a.btn{
    display: inline-block;
}

button, a.btn{
    padding: 10px 30px;
    color: black;
    border: none;
    outline: none;
    transition: 0.2s;
    border-radius: 5px;
    text-decoration: none;
}

button:focus, button:hover{
    background-color: lightgray;
    cursor: pointer;
}
button:active{
    background-color: rgb(158, 158, 158);
}

button.accept{ 
    background-color: var(--green1);
    color:  white;
}
button.accept:focus, button.accept:hover{
    background-color: var(--green2);
}
button.accept:active{
    background-color: var(--green3);
}

button.deny{ 
    background-color: var(--red1);
    color:  white;
}
button.deny:focus, button.deny:hover{
    background-color: var(--red2);
}
button.deny:active{
    background-color: var(--red3);
}

button.warn{ 
    background-color: var(--yellow1);
    color:  white;
}
button.warn:focus, button.warn:hover{
    background-color: var(--yellow2);
}
button.warn:active{
    background-color: var(--yellow3)
}

button.normal, a.btn-normal{ 
    background-color: var(--blue1);
    color: white;
}
button.normal:focus, button.normal:hover, a.btn-normal:focus, a.btn-normal:hover{
    background-color: var(--blue2);
}
button.normal:active, a.btn-normal:active{
    background-color: var(--blue3);
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px 20px;
    width: 30%; 
    border-radius: 5px;
}
  
.close {
    color: #aaa;
}
  
.close:hover, .close:focus {
      color: black;
      text-decoration: none;
      cursor:pointer;
}

.modal-header .modal-title{
    font-weight: bold;
}

.modal-header{
    display:flex; 
    justify-content:space-between;
    border-bottom: var(--line) solid 1px;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.modal-body{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body input, .modal-body .combo-box{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px 5px;
    background-color: rgb(234, 236, 238 );
}

.modal-btn{
    margin: 20px 5px;
}

.input-tag input{
    padding: 0;
    margin: 0;
    width: 110px;
    border: none;
    outline: none;
    background-color: transparent;
}

.input-tag{
    display: inline-block;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    margin: 5px;
}

.input-tag-content{
    display: flex;
}

.input-tag .input-label{
    font-size: small;
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
}

.input-tag .input-label, .input-tag .input-value{
    padding: 10px 15px;
    text-align: center;
}

.combo-box{
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    padding: 8px 15px;
    margin: 10px 5px;
    text-align: center;
}

.combo-box select{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: small;
    text-align: center;
}